*,
*::after,
*::before {
  // box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  // font-family: Arial, sans-serif;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --main-bg-color: #000;
  --menu-bg-color: #d9d9d9;
  --menu-color: #000;
  --header-bg-color: #0500b9;
  --hamburger-color: #ff491b;
  --accent-color: #6194ff;
  --background-grid-color: rgba(109, 84, 97, 0.7);
  --background-fill-color: rgba(0, 0, 0, 0.3);
  --menu-item-hover: #ff491b;
  --submenu-bg: white;
  --theme-frame1-color: #1258b5;
  --theme-frame2-color: #2a70cf;
  --theme-frame3-color: #36a9e1;
  --theme-btn-out-start: #238ae0;
  --theme-btn-out-end: #114977;
  --theme-btn-in-start: #238ae0;
  --theme-btn-in-end: #114a78;
  --theme-btn-border: #002a3b;
  --theme-btn-icon: #73b0ff;
  --app-g-padding: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
@mixin frame($padding) {
  content: '';
  position: absolute;
  display: block;
  left: $padding;
  right: $padding;
  bottom: $padding;
  top: $padding;
}
html {
  height: 100vh;
}
body {
  margin: 0;
  background-color: var(--main-bg-color);
  height: 100%;
  overflow-y: hidden;
  font-family: 'Raleway', sans-serif;
}
#app {
  height: 100%;
  position: relative;
}
.frame {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 8px solid var(--theme-frame1-color);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  &::before {
    @include frame(0px);
    border: 12px solid var(--theme-frame2-color);
  }
  &::after {
    @include frame(12px);
    border: 3px solid var(--theme-frame3-color);
  }
}

.container {
  margin: 0 auto;
}
.hidden {
  display: none !important;
}
.v-hidden {
  visibility: hidden;
  opacity: 0;
}

.main {
  margin-top: 24px;
  position: relative;
  // min-height: 80vh;
}
// .control {
//   display: flex;
//   justify-content: space-between;
//   padding: 0 12px;
//   width: 100%;
//   max-width: 160px;
// }
button {
  cursor: pointer;
}
.btn {
  position: relative;
  height: 40px;
  width: 40px;
  outline: none;
  border: none;
  background: transparent;
  z-index: 5;

  &:hover {
    transform: translateX(1px);
  }
  & svg {
    width: 100%;
    height: 100%;
  }
}
.btn {
  color: var(--theme-btn-icon);
}

.backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

@media (max-width: $mobile) {
  .main {
    margin-top: 30px;
  }
  .frame {
    display: none;
  }
}

@media only screen and (orientation: portrait) {
  #app {
    display: block;
  }
  #notice {
    display: none;
  }
}
@media only screen and (orientation: landscape) {
  #app {
    display: none;
  }
  #notice {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
}
