.footer {
  z-index: 20;
  padding: 0 var(--app-g-padding);
  position: fixed;
  bottom: 20px;
  left: calc(var(--app-g-padding) * 2);
  right: calc(var(--app-g-padding) * 2);
  &-logo {
    color: var(--theme-btn-icon);
    text-transform: uppercase;
    text-align: center;
    font-size: 2.6rem;
    font-weight: bold;
    line-height: 1.2;
    display: none;
  }
  &-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    .sound-control {
      display: block;
      width: 30px;
      height: 30px;
      color: white;
      // background-color: #fff;
      & svg {
        width: 100%;
        height: 100%;
      }
    }
    a {
      color: #fff;
      text-decoration: none;
      &:hover,
      &:active,
      &:visited {
        text-decoration: none;
        color: #fff;
      }
    }
    a.info-link {
      display: inline-block;
      width: 36px;
      height: 36px;
      & img {
        width: 100%;
        height: auto;
      }
    }
  }
}
.counter {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  font-size: 22px;
  color: #fff;
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: $mobile) {
  .footer {
    left: 0;
    right: 0;
    bottom: 5px;
    &-logo {
      display: block;
    }
    &-control {
      justify-content: space-between;
    }
  }
}
