.app-header {
  position: relative;
  // background: var(--header-bg-color);
  color: #fff;
  height: 65px;
  padding: 0 var(--app-g-padding);
  z-index: 10;
  top: 12px;
}

.navbar {
  position: relative;
  // top: 8px;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  &-header {
    position: absolute;
    top: 4px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    .col {
      width: 50%;
      h2 {
        text-align: center;
        // font-size: 53px;
        font-weight: bold;
        // letter-spacing: 2px;
        text-transform: uppercase;
      }
    }
    .logo-first {
      color: var(--theme-btn-icon);
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      .full-logo {
        height: 47px;
        width: 240px;
      }
      .svg-btn {
        height: 47px;
        width: 47px;
        position: absolute;
      }
      .o-play {
        right: 97px;
      }
      .o-close {
        right: 0;
      }
    }
    .logo-second {
      color: var(--theme-frame2-color);
    }
    .logo-mobile {
      justify-content: flex-end;
    }
    &__pc h2 {
      font-size: 42px;
    }
    &__mobile {
      display: none;
      h2 {
        font-size: 53px;
      }
    }
  }
  .navbar-header__mobile {
    .btn {
      position: absolute;
      height: 47px;
      width: 47px;
    }
    .crop {
      right: 97px;
    }
    svg {
      width: 100%;
      height: 100%;
    }
    .col.first {
      // padding-left: 20px;
    }
    .logo-mobile {
      display: inline-flex;
      transform: translateX(20px);
      // padding-left: 40px;
    }
  }

  &.is-open {
    .menu-items {
      // display: block;
      transform: translateX(0);
    }
    .hamburger-lines {
      .line1 {
        transform: rotate(45deg);
      }
      .line2 {
        transform: scaleY(0);
      }
      .line3 {
        transform: rotate(-45deg);
      }
    }
  }
  .hamburger-lines,
  .close-icon {
    display: block;
    height: 25px;
    width: 30px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .close-icon {
    .line {
      display: block;
      height: 5px;
      width: 100%;
      background: var(--theme-btn-icon);
    }
    .line1 {
      transform: rotate(45deg);
      transform-origin: 3px 3px;
    }
    .line2 {
      transform: rotate(-45deg);
      transform-origin: 0% 0%;
    }
  }

  .menu-items {
    position: absolute;
    z-index: 5;
    width: 220px;
    // padding: 20px 0;
    background: var(--menu-bg-color);
    top: 45px;
    left: -5px;
    transform: translateX(-150%);
    transition: transform 0.5s ease-in-out;
    list-style-type: none;
    .menu-item {
      display: flex;
      align-items: center;
      margin-bottom: 0.4rem;
      font-size: 1rem;
      font-weight: 500;
      white-space: nowrap;
      border-bottom: 1px solid rgba(109, 84, 97, 0.7);
      &:last-child {
        margin-bottom: 0;
        border-bottom: none;
      }
      &:hover > .menu-item-link,
      &:hover > .language-picker {
        color: var(--menu-item-hover);
        // transform: translateX(10px);
      }
      .menu-item-link {
        cursor: pointer;
        display: block;
        padding: 4px 30px;
        text-decoration: none;
        color: var(--menu-color);
        transition: all 0.3s;
      }
    }
    .dropdown {
      position: relative;
    }
    // .dropdown:hover .sub-menu {
    //   display: block;
    //   // position: absolute;
    // }

    .sub-menu {
      list-style-type: none;
      position: absolute;
      width: 180px;
      left: 40%;
      top: 30px;
      display: none;
      background-color: #fff;
      z-index: 10;
      &.is-open {
        display: block;
      }
      li {
        &:last-child {
          margin-bottom: 0;
        }
        a {
          cursor: pointer;
          font-size: 0.9rem;
          font-weight: 500;
          white-space: nowrap;
          display: flex;
          padding: 4px 30px;
          text-decoration: none;
          color: var(--menu-color);
          transition: all 0.3s;
          &:hover {
            background-color: #eee;
          }
          &.selected {
            background-color: #eee;
            &::after {
              content: '';
              height: 16px;
              width: 16px;
              background-color: currentColor;
              -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpolyline stroke-width='2' stroke='%23ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round' points='1,9 5,13 15,3 '/%3E%3C/svg%3E");
              mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpolyline stroke-width='2' stroke='%23ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round' points='1,9 5,13 15,3 '/%3E%3C/svg%3E");
              margin-left: auto;
            }
          }
        }
      }
    }
  }
  &-container {
    display: flex;
    // justify-content: flex-end;
    align-items: center;
    height: 100%;
  }
  .svg {
    width: 16px;
    height: 16px;
  }
}

.hamburger-lines {
  .line {
    display: block;
    height: 5px;
    width: 100%;
    // border-radius: 10px;
    background: var(--theme-btn-icon);
  }
  .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }
  .line2 {
    transition: transform 0.1s ease-in-out;
  }
  .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }
}
h1.logo {
  text-transform: uppercase;
  color: var(--accent-color);
  font-size: 3rem;
  font-weight: 900;
}
.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}
.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.btn-bg {
  background-color: var(--theme-frame2-color);
  padding-top: 2px;
  &__l {
    border-bottom-right-radius: 8px;
    border-bottom: 3px solid var(--theme-frame3-color);
    border-right: 3px solid var(--theme-frame3-color);
  }
  &__r {
    border-bottom-left-radius: 8px;
    border-bottom: 3px solid var(--theme-frame3-color);
    border-left: 3px solid var(--theme-frame3-color);
  }
  &__m {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 2px 12px 5px;
    // border-bottom: 3px solid var(--theme-frame3-color);
    // border-left: 3px solid var(--theme-frame3-color);
    // border-right: 3px solid var(--theme-frame3-color);
  }
}

.btn-back {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  // padding: 10px;
  height: 45px;
  width: 50px;
  border: 1px solid var(--theme-btn-border);
  // width: 45px;
  // height: 45px;
  border-radius: 6px;
  background-image: linear-gradient(to bottom, var(--theme-btn-out-start), var(--theme-btn-out-end));

  &::after {
    content: '';
    position: absolute;
    display: block;
    left: 4px;
    right: 4px;
    top: 4px;
    bottom: 4px;
    border-radius: 6px;
    background-image: linear-gradient(to right, var(--theme-btn-in-start), var(--theme-btn-in-end));
  }
}
.icon-control {
  position: relative;
  display: inline-flex;
  line-height: 1;
  align-items: center;
  justify-content: center;
  button.btn {
    background-color: var(--theme-btn-icon);
    position: absolute;
    left: 3px;
    top: 7px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    i {
      padding-left: 2px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    svg {
      width: 100%;
      height: 100%;
    }
  }
  &:after {
    // position: absolute;
    // content: '';
    // display: block;
    // background-color: var(--theme-btn-icon);
    // width: 40px;
    // border-radius: 50%;
    // left: 2px;
    // // background: red;
    // top: 19px;
    // height: 40px;
    // z-index: 12;
  }
}

@media (max-width: $mobile) {
  .navbar-header__mobile {
    display: flex;
  }
  .navbar-header__pc {
    display: none;
  }
  .app-header {
    // height: 85px;
    top: 0;
    background-color: var(--theme-frame2-color);
  }
  .navbar {
    .btn-bg.btn-bg__r {
      display: none;
    }
  }
  .navbar-header {
    top: 0;
    .col {
      width: 100%;
      .logo-first {
        text-align: right;
      }
    }
    .col.last {
      display: none;
    }
  }
  .btn-bg {
    border: none;
    background: transparent;
    border-radius: 0;
  }
  .btn-back {
    border: none;
    background: transparent;
    border-radius: 0;
    &::after {
      display: none;
    }
  }
  .btn-bg.btn-bg__m {
    display: none;
  }
}
